:root {
    --spacing-small: 6px;
    --spacing-medium: 25px;
    --spacing-large: 50px;
    --rounded-small: 8px;
    --rounded-medium: 16px;
}

#lotero {
    position: sticky;
    top: var(--spacing-large);
    transition: all 0.3s ease-in;
    width: 100%;
    z-index: 1;
}
