#lotero-wrapper {
    border-radius: var(--rounded-medium);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    width: 420px;
}

#lotero-wrapper > header {
    background: #334155;
    border-radius: var(--rounded-medium) var(--rounded-medium) 0 0;
    padding: var(--spacing-medium);
}

#lotero-wrapper > header h1 {
    font-weight: bolder;
}

#lotero-wrapper > section {
    background: #1e293b;
    border-radius: 0 0 var(--rounded-medium) var(--rounded-medium);
}
