#main {
  display: flex;
  gap: var(--spacing-large);
  justify-content: space-between;
}

#main--route {
  flex-grow: 1;
}

#main--bet {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
}
